<div class="login-wrap">
  <h2>Validate Email Address</h2>
  
  <div class="form">
    <input type="text" placeholder="Email" name="email" id="email-input-js" />
    <button id="submit-email-js" class="disabled" disabled> Validate </button>
  </div>
  <div id="status-area" />
</div>
